.Button {
  background-color: #4CAF50;;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

// .Button:first-of-type {
//     padding-left: 25px !important;
// }

.Success {
    color: white;
}

.Success:hover {
  background-color: white;
  color: black;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Danger {
    color: #944317;
}